# Project exclude paths
/cmake-build-debug/
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeFiles/
/cmake-build-release/Makefile
/cmake-build-release/VM7.cbp
/cmake-build-release/CMakeCache.txt
/.idea/